
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}

.contenedor {
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
}

.header {
    text-align: center;
    background-color: #06e1f0;
    color: white;
    padding: 30px;
    border-radius: 8px 8px 8px 8px;
}

.header h1 {
    font-size: 3em;
    margin: 0;
    font-family: 'Georgia', serif;
}

.header p.lead {
    font-size: 1.5em;
    margin-top: 10px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-radius: 8px;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.post {
    margin-top: 20px;
}

.post-header {
    margin-bottom: 15px;
}

.post-header h3 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #333;
    font-family: 'Georgia', serif;
}

.post-header img {
    width: 100%;
    border-radius: 40px;
    margin-bottom: 10px;
}

.subtitulo {
    color: #777;
    font-size: 0.9em;
}

.subtitulo a {
    color: #06e1f0;
    text-decoration: none;
}

.subtitulo a:hover {
    text-decoration: underline;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    font-size: 1em;
}

table th, table td {
    padding: 10px;
    text-align: left;
}

table th {
    background-color: #06e1f0;
    color: #333;
}

table img {
    border-radius: 8px;
}

footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 20px;
    border-radius: 0 0 8px 8px;
    margin-top: 30px;
}

footer h4 {
    margin-bottom: 20px;
    font-size: 1.5em;
}

footer form {
    display: inline-block;
}

footer fieldset {
    border: none;
}

footer label {
    display: block;
    margin-bottom: 10px;
    font-size: 1em;
}

footer input[type="checkbox"] {
    margin-left: 10px;
}

.submitbutton {
    background-color: #06e1f0;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

